



.forgetPassword-page {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f5f7;
    font-family: "monserrat", sans-serif;
    min-height: 100vh;
    max-width: 200%;
    width: 100%;
    height: 100%;
    background-color: slateblue;
}



.forgetPassword-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;

    overflow: hidden;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxssX_FBWAqe0yhkqRhKS4nwZlPVr2QdB7zKhP1oIFp7Y7nasNEttefq9vEezqqgBrvWc&usqp=CAU);
    background-size: cover;
    background-position: fixed;
    /* background-color: mediumslateblue; */

}


.h4,.h5,.h1{
    color: black;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.btn-user{
 background-color: turquoise ;
}

.small{
    letter-spacing: 1px;
    word-spacing: 2px;
}



.card {
    max-width: 700px;
    border-radius: 20px;
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
}

.card::before {
    content: "";
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxssX_FBWAqe0yhkqRhKS4nwZlPVr2QdB7zKhP1oIFp7Y7nasNEttefq9vEezqqgBrvWc&usqp=CAU);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px); 
    z-index: -1;
}


hr{
    background-color: black;
}





















